06/assembler/.idea/*
06/assembler/.idea/
06/assembler/out
06/assembler/assembler.iml

07/vm-translator/.idea/*
07/vm-translator/.idea/
07/vm-translator/out
07/vm-translator/vm-translator.iml


08/vm-translator/.idea/*
08/vm-translator/.idea/
08/vm-translator/out
08/vm-translator/vm-translator.iml